.container{

    display: flex;
    flex-direction: column;
    align-items: center;

}
.blocks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}
.buttons{
    width: 200px;
    height: 200px;
    cursor: pointer;

}
.buttons:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.clicked{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);

}
body{
    background-color: rgb(53, 114, 239);
    font-family: 'Bangers', cursive;
}
